*{
  margin: 0;
  padding: 0;
}

body{
  width: 100%;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
}

header{
  background-color: white;
  color: black;
  display: flex;
  width: 100%;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  position: fixed;
}


.logo_holder{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 10vh;
  width: 20%;
}

.logo{
  margin-left: 75px;
  font-size: 2em;
}


.nav_holder{
  color: black;
  display: flex;
  justify-content: center;
  width: 50%;
  height: 10vh;
  align-items: center;
}

nav{
  font-size: 20px;
  color: black;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 45px;
}

nav:hover{
  color: goldenrod;
}

.sign{
  color: black;
  width: 20%;
  height: 10vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


.sign_btn{
  border: none;
  text-transform: capitalize;
  font-size: 15px;
  width: 50%;
  height: 20px;
  margin-right: 75px;
}


.sign_btn:hover{
  background-color: goldenrod;
  color: white;
  transition-duration: 1s;
}

.hamburger_menu{
  width: 20%;
  margin-left: 10px;
}

a{
  width: 50%;
  height: 30px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ffffff;
  background-color: black;
  color: white;
  text-align: center;
  text-decoration: none;
  margin-right: 10px;
}


.hero_container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}

.left_container{
  width: 50%;
  height: 600px;
  background-color: goldenrod;
}

.left_container > h1{
  font-size: 50px;
  margin-top: 100px;
  margin-left: 40px;
  color: white;
}


.left_container > p{
  font-size: 17px;
  margin-top:5px ;
  margin-left: 40px;
  color: white;
  width: 80%;
  margin-bottom: 20px;
}

.shop_now{
  margin-left: 40px;
  border: none;
}


.right_container{
  width: 50%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}

.right_container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collection{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10px;
  background-color: rgb(202, 198, 198);
}

.coll_wrapper{
  width: 100%;
  height: 60px;
  padding-top: 10px;
  text-align: center;
}

.coll_wrapper > h1{
  margin-top: 10px;
}

.coll_mid{
  width: 90%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
}

.card1{
  width: 220px;
  height: 250px;
  background-color: rgb(241, 241, 241);
  margin-left: 20px;
  margin-bottom: 20px;
  display: flex;
  box-shadow: 0px 4px 20px rgb(136, 133, 133), 0px 6px 20px rgb(226, 223, 223) ;
  flex-direction: column-reverse;
  border-radius: 7px;
}

.card1 > img{
  width: 100%;
  height: 83%; 
  border-radius: 7px 7px 0px 0px;
}

.card1 > h3{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}



.product{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
  background-color: rgb(202, 198, 198);
}

.pro_wrapper{
  width: 100%;
  height: 60px;
  padding-top: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(202, 198, 198);
  margin-bottom: 20px;
}

.pro_nav{ 
  width: 500px;
  height: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-right: 150px;
}

.pro_text{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin-left: 150px;
}

.pro_nav > nav{
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.pro_nav > nav:hover{
  color: goldenrod;
}

.wrapper_2{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  text-align: center;
  height: 270px;
  width: 230px;
  background-color: white;
  box-shadow: 0px 4px 20px rgb(196, 193, 193), 0px 6px 20px rgb(226, 223, 223) ;
  margin-top: 15px;
  margin-bottom: 20px;
}

.card2{
  height: 270px;
  width: 230px;
  justify-content: center;
  display: flex;
}

.wrapper_2 > h3{
  margin-top: 10px;
  margin-bottom: 20px;
}

.card2 > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


footer{
  width: 100%;
  background-color: black;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  color: white;
}

.icon_wrapper{
  display: flex;
  flex-direction: column;
  width: 50%;
}

.icon_wrapper > h1{
  margin-top: 20px;
  margin-left: 75px;
  width: 30%;
}

.phone{
  margin-top: 20px;
  display: inline-block;
  margin-left: 75px;
}

.phone > a{
  border: none;
  text-decoration: none;
  background-color: transparent;
  font-size: 15px;
}

.media{
  display: flex;
  width: 40%;
  margin-left: 75px;
  margin-top: 25px;
}

.media > img{
  width: 25px;
  margin-left: 10px;
  margin-bottom: 30px;
}


.text_wrapper{
  width: 50%;
  color: white;
}

.text_wrapper > p{
  margin-top: 15px;
  margin-left: 20px;
  color: white;
  margin-bottom: 5px;
  font-size: 15px;
}

.text_wrapper > h3{
  margin-top: 10px;
  margin-left: 20px;
  font-size: 15px;
}





 /* big screen size */

@media (max-width: 8000px) and (min-width: 1024px){
  *{
    padding: 0;
    margin: 0;
  }

  body{
    width: 100%;
  }
  
  header{
    width: 100%;
  }

  .hamburger_menu{
    display: none;
  }

  .collection{
    width: 100%;
  }
} 

/* tablet */

@media (max-width: 1023px) and (min-width: 427px){
  body{
    width: 100%;
  }

  .logo{
    margin-left: 10px;
  }

  header{
    width: 100%;
  }
  
  .nav_holder{
    display: none;
  }


  .sign_btn{
    display: none;
  }

  .hamburger_menu{
    width: 17%;
    margin-right: 20px;
  }

  
  .left_container > h1{
    margin-left: 15px;
  }
  
  .left_container > p{
    font-size: 15px;
    margin-left: 15px;
  }

  .shop_now{
    margin-left: 15px;
    border: none;
  }

  .icon_wrapper{
    width: 50%;
  }

  .text_wrapper{
    width: 50%;
  }

  .pro_wrapper{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100px;
  }

  .pro_text{
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  .pro_nav{
    margin-right: 0;
    margin-top: 0;
    height: 50%;
  }

}



/* phone screen  */
@media (max-width: 426px){
  .logo{
    margin-left: 10px;
  }
  .nav_holder{
    display: none;
  }

  .logo_holder{
    justify-content: flex-start;
    height: 6vh;
    width: 150px;
    padding-left: 10px;
  }


  .sign_btn{
    display: none;
  }

  .sign{
    justify-content: flex-end;
    width: 100px;
    height: 6vh;
    padding-right: 10px;
  }

  .hamburger_menu{
    width: 20px;
  }

  .hero_container{
    display: flex;
  }

  .left_container{
    width: 100%;
    height: 380px;
  }

  .right_container{
    width: 100%;
    height: 300px;
  }

  .left_container > h1{
    margin-top: 100px;
    font-size: 35px;
    margin-left: 15px;
  }
  
  .left_container > p{
    margin-top: 5px;
    font-size: 15px;
    margin-left: 15px;
  }

  .shop_now{
    margin-left: 15px;
  }

  .card1{
    height: 240px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
  }


  .card2{
    height: 310px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
  } 

  .product{
    justify-content: center;
  }

  .wrapper_2{
    margin-left: 0px;
    margin-top: 0px;
  }

  .pro_wrapper > h1{
    margin-left: 0px;
    margin-bottom: 10px;
  }

  .pro_wrapper{
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
    background-color: red;
    height: 100px;
  }

  .pro_nav{
    margin-bottom: 30px;
    /* background-color: green; */
    height: 40%;
    justify-self: center;
    margin-right: 0px;
    align-items: center;
  }

  .pro_nav > nav{
    font-size: 12px;
  }

  footer{
    flex-direction: column;
  }

  .text_wrapper{
    width: 100%;
  }

  .icon_wrapper{
    width: 100%;
  }

  .icon_wrapper > h1{
    margin-left: 20px;
  }

  .phone{
    margin-left: 20px;
  }

  .media{
    margin-left: 20px;
  }

  .pro_text{
    /* background-color: blue; */
    margin-left: 0;
    height: 40%;
  }
  


}



